body, header, blockquote, footer, div, h1, ul, p  {margin:0;
		padding:0;
}

body{background-color: #ffffff;
	background: url(stains.png) no-repeat ;
	margin-left: auto; 
	margin-right: auto;	
	font-family: 'Open Sans', sans-serif;	
}

header{
}

nav{margin-left: auto;
	margin-right: auto;
	width: 700px;
	padding-top: 30px;
	padding-bottom: 30px;
	position: center;

}

nav li{display: inline;


 }

nav ul{list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	width: 280px;
	padding-top: 50px;
	padding-bottom: 50px;

}

section{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

img{width: 300px;
	height: 300px;

}

h1{color: black;
	font-size: 50px;
	text-align: center;
	text-decoration: none;
	padding-top: 50px;


}

a{text-decoration: none;

}

a:visited{color: black;
	text-decoration: none;
}

.container {width: 800px;
	background-color: #F2F6FA;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 50px;
	margin-bottom: 50px;
	margin-top: 50px;

}

#haut{position: fixed;
	right: 10px;
	text-align: right;
	font-size: 50px;
	padding-right: 30px;
	padding-top: 250px;

}

#stain1 {width: 100%;
	height: 100%;
	background:url('img/1bis.jpg') right 100% no-repeat;
	background-size: 20%;

}

#stain2 {width: 100%;
	height: 100%;
	background:url('img/2bis.jpg') left 100% no-repeat;
	background-size: 38%;

}

#stain3 {width: 100%;
	height: 100%;
	background:url("img/3.jpg") right 100% no-repeat;
	background-size: 15%;

}

#stain4 {width: 100%;
	height: 100%;
	background:url("img/4.jpg") left 100% no-repeat;
	background-size: 35%;

}

#stain5 {width: 100%;
	height: 100%;
	background:url("img/5.jpg") right 50% no-repeat;
	background-size: 38%;

}

#stain6 {width: 100%;
	height: 100%;
	background:url("img/6.jpg") left 50% no-repeat;
	background-size: 38%;

}

#stain7 {width: 100%;
	height: 100%;
	background:url("img/7.jpg") right 50% no-repeat;
	background-size: 38%;
}

#stain8 {width: 100%;
	height: 100%;
	background:url("img/8.jpg") left 50% no-repeat;
	background-size: 38%;
}

#stain9 {width: 100%;
	height: 100%;
	background:url("img/9.jpg") right 50% no-repeat;
	background-size: 38%;
}

#stain10 {width: 100%;
	height: 100%;
	background:url("img/10.jpg") left 50% no-repeat;
	background-size: 38%;
}

#stain11 {width: 100%;
	height: 100%;
	background:url("img/11.jpg") right 50% no-repeat;
	background-size: 38%;
}

#stain12 {width: 100%;
	height: 100%;
	background:url("img/12.jpg") left 50% no-repeat;
	background-size: 38%;

}

#stain13 {width: 100%;
	height: 100%;
	background:url("img/13.jpg") right 50% no-repeat;
	background-size: 38%;
}

#stain14 {width: 100%;
	height: 100%;
	background:url("img/14.jpg") left 50% no-repeat;
	background-size: 38%;
}

#stain15 {width: 100%;
	height: 100%;
	background:url("img/15.jpg") right 50% no-repeat;
	background-size: 38%;
}

#stain16 {width: 100%;
	height: 100%;
	background:url("img/16.jpg") left 50% no-repeat;
	background-size: 38%;
}

.img{display: inline;
	vertical-align: top;
	width: 150px;
	height: 150px;
}

li{list-style-type: none;

}

.title1{background: url("img/title-01.jpg") no-repeat center ;
	display: inline-block;
}

.title1:hover{background: url("img/titlehov-01.jpg") no-repeat center ;
	display: inline-block;
}

.title2{background: url("img/title-02.jpg") no-repeat center ;
	display: inline-block;
}

.title2:hover{background: url("img/titlehov-02.jpg") no-repeat center ;
	display: inline-block;
}

.title3{background: url("img/title-03.jpg") no-repeat center ;
	display: inline-block;
}

.title3:hover{background: url("img/titlehov-03.jpg") no-repeat center ;
	display: inline-block;
}

.title4{background: url("img/title-04.jpg") no-repeat center ;
	display: inline-block;
}

.title4:hover{background: url("img/titlehov-04.jpg") no-repeat center ;
	display: inline-block;
}

.title5{background: url("img/title-05.jpg") no-repeat center ;
	display: inline-block;
}

.title5:hover{background: url("img/titlehov-05.jpg") no-repeat center ;
	display: inline-block;
}

.title6{background: url("img/title-06.jpg") no-repeat center ;
	display: inline-block;
}

.title6:hover{background: url("img/titlehov-06.jpg") no-repeat center ;
	display: inline-block;
}

.title7{background: url("img/title-07.jpg") no-repeat center ;
	display: inline-block;
}

.title7:hover{background: url("img/titlehov-07.jpg") no-repeat center ;
	display: inline-block;
}

.title8{background: url("img/title-08.jpg") no-repeat center ;
	display: inline-block;
}

.title8:hover{background: url("img/titlehov-08.jpg") no-repeat center ;
	display: inline-block;
}

.title9{background: url("img/title-09.jpg") no-repeat center ;
	display: inline-block;
}

.title9:hover{background: url("img/titlehov-09.jpg") no-repeat center ;
	display: inline-block;
}

.title10{background: url("img/title-10.jpg") no-repeat center ;
	display: inline-block;
}

.title10:hover{background: url("img/titlehov-10.jpg") no-repeat center ;
	display: inline-block;
}

.title11{background: url("img/title-11.jpg") no-repeat center ;
	display: inline-block;
}

.title11:hover{background: url("img/titlehov-11.jpg") no-repeat center ;
	display: inline-block;
}

.title12{background: url("img/title-12.jpg") no-repeat center ;
	display: inline-block;
}

.title12:hover{background: url("img/titlehov-12.jpg") no-repeat center ;
	display: inline-block;
}

.title13{background: url("img/title-13.jpg") no-repeat center ;
	display: inline-block;
}

.title13:hover{background: url("img/titlehov-13.jpg") no-repeat center ;
	display: inline-block;
}

.title14{background: url("img/title-14.jpg") no-repeat center ;
	display: inline-block;
}

.title14:hover{background: url("img/titlehov-14.jpg") no-repeat center ;
	display: inline-block;
}

.title15{background: url("img/title-15.jpg") no-repeat center ;
	display: inline-block;
}

.title15:hover{background: url("img/titlehov-15.jpg") no-repeat center ;
	display: inline-block;
}

.title16{background: url("img/title-16.jpg") no-repeat center ;
	display: inline-block;
}

.title16:hover{background: url("img/titlehov-16.jpg") no-repeat center ;
	display: inline-block;
}

p{margin-bottom: 10px;

}

footer{

}

@keyframes hideshow {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 



#Calque_1 .firstword path {
	fill : red;	
	animation: hideshow 10s ease infinite;
}
